/*
 * Styles for global navigation controls
 */
/* hide  sections in the customizer panel */
.accordion-section[id*="rootstrap-section-hider"] ~ .accordion-section {
  height: 0; }
  .accordion-section[id*="rootstrap-section-hider"] ~ .accordion-section .accordion-section-title {
    display: none; }

/*
 * Styles for sequence navigation controls
 */
.customize-control-rootstrap-sequence {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: -15px -12px 12px -12px;
  width: calc(100% + 24px);
  padding: 10px 8px;
  background: white;
  border-bottom: 1px solid #ddd; }

.rootstrap-nav-link__sequence {
  font-size: 20px;
  height: 1em;
  position: relative;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #a0a5aa;
  -webkit-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out; }
  .rootstrap-nav-link__sequence:hover {
    color: #1F87B6; }
  .rootstrap-nav-link__sequence--previous {
    padding-left: 20px; }
  .rootstrap-nav-link__sequence--next {
    padding-right: 20px; }
  .rootstrap-nav-link__sequence--previous:after, .rootstrap-nav-link__sequence--next:before {
    font: 400 1em dashicons;
    position: absolute;
    top: 50%;
    margin-top: -0.5em; }
  .rootstrap-nav-link__sequence--previous:focus, .rootstrap-nav-link__sequence--next:focus {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none; }
  .rootstrap-nav-link__sequence--previous:after {
    content: "\f341";
    left: 0; }
  .rootstrap-nav-link__sequence--next:before {
    content: "\f345";
    right: 0; }
  .rootstrap-nav-link__sequence span {
    font-size: 13px;
    vertical-align: middle;
    line-height: 20px; }

/*
 * Styles for tab navigation controls
 */
.customize-control.customize-control-rootstrap-tabs {
  border-bottom: 1px solid #EEEEEE;
  margin: -15px -12px 12px -12px;
  padding-top: 12px;
  width: calc(100% + 24px);
  background-color: #fff;
  text-align: right; }

.rootstrap-tab {
  background: #ccc;
  border: 1px solid transparent;
  color: white;
  padding: .6em 1em;
  margin: 0;
  margin-right: 12px;
  z-index: 2;
  position: relative;
  display: inline-block;
  text-transform: capitalize;
  -webkit-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
  text-decoration: none; }
  .rootstrap-tab:hover {
    color: inherit; }
  .rootstrap-tab.current-tab {
    background: #EEEEEE;
    color: inherit;
    cursor: default; }
